# from vue/.gitignore
.DS_Store
node_modules
explorations
TODOs.md
RELEASE_NOTE*.md
packages/server-renderer/basic.js
packages/server-renderer/build.dev.js
packages/server-renderer/build.prod.js
packages/server-renderer/server-plugin.js
packages/server-renderer/client-plugin.js
packages/template-compiler/build.js
packages/template-compiler/browser.js
dist
temp
types/v3-generated.d.ts

# from react/.gitignore
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
.zed
*.swp
*.swo
/tmp
/.worktrees
.claude/*.local.*
.claude/worktrees
